body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
}

.pool-table {
    position: relative;
    width: 400px;
    height: 700px;
    background-color: #004d00;
    border: 10px solid #003300;
    border-radius: 10px;
}

.pocket {
    position: absolute;
    background-color: #000; /* Pocket color */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.corner-pocket {
    margin: -30px;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.left-middle {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -15px;
}

.right-middle {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    margin-right: -15px;
}

.ball {
    position: absolute;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cue-ball {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
