html, body {
    height: 100%; /* Make sure both html and body take full height */
    margin: 0;
    overflow-y: auto; /* Enable scrolling */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15232d;
    margin: 0;
    height: auto; /* Ensure height is auto */
    overflow-y: scroll;-webkit-overflow-scrolling: touch;
}

.pool-table {
    position: relative;
    width: 307px;
    height: 615px;
    background-color: #0b2c4d;
    border: 20px solid #475d72;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px;
}

.pocket {
    position: absolute;
    background-color: #334759;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #475e72;
    z-index: 1;
    box-shadow: 0px 0px 10px inset #1c1200;
}

.top-left { top: 0; left: 0; margin: -25px; border-radius: 25% 25% 50% 25%;}
.top-right { top: 0; right: 0; margin: -25px; border-radius: 25% 25% 25% 50%;}
.bottom-left { bottom: 0; left: 0; margin: -25px; border-radius: 25% 50% 25% 25%;}
.bottom-right { bottom: 0; right: 0; margin: -25px; border-radius: 50% 25% 25% 25%;}
.left-middle { left: 0; top: 50%; transform: translate(-50%, -50%); margin-left: -8px; border-radius: 25% 50% 50% 25%;}
.right-middle { right: 0; top: 50%; transform: translate(50%, -50%); margin-right: -8px; border-radius: 50% 25% 25% 50%;}

.pocket.selected {
    border: 2px solid yellow; /* Change color to indicate selection */
}

.kitchen {
    position: absolute;
    bottom: 23.8%;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: #475e72;
}

.rack {
    position: absolute;
    top: 25.4%;
    left: 50%;
    width: 8px;
    margin-left: -4px;
    height: 8px;
    background-color: #475e72;
    border-radius: 50%;
}

.grid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 11 columns */
    grid-template-rows: repeat(21, 1fr); /* 21 rows */
    pointer-events: auto; /* Change to allow events on grid */
    box-shadow: 0px 0px 15px inset #061406;
}

.cell {
    border: 1px solid rgb(36 75 98 / 50%);
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.ball {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px;
    z-index:3;
}

.cue-ball {
    background-color: white;
}

.target-ball {
    background-color: #cad02f;
}

.shot-buttons {
    text-align: center;
    position: relative; /* Change to relative to avoid fixed positioning */
    margin-bottom: 20px; /* Space below the buttons */
}

#made-btn {background-color: #1a5b88;}
#miss-btn {background-color: #4e4e4e;}
#made-btn:hover {background-color: #099c09;}
#miss-btn:hover {background-color: #c41313;}

.shot-buttons > button {
    padding: 10px;
    width: 170px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}
button:hover {margin-top: 0px;}

/* Allow the content below to be visible */
.content {
    color: #8b8b8b;
    width: 342px;
    margin-left: auto;
    margin-right: auto;
}

#user-email {
    float: left;
    padding-right: 40px;
    border-bottom: 1px dashed #586873;
}

#logout-btn {
    float: right;
    padding: 7px 21px;
    margin: 9px;
    border-radius: 5px;
    background-color: #3b424e;
    border: none;
    color: #a8a8a8;
}

#logout-btn:hover {
    background-color: #007acc;
}

#shot-info {
    height: 27px;
    width: 342px;
    border-bottom: 1px solid #495a6f;
}

.shot-info {
    position: relative;
    top: 5px;
    font-size: 15px;
    color: #77c0f0;
    width: 155px;
}

#shot-list-container {
    width: 274px;
}

#shot-list {
    list-style: none;
    padding-left: 0;
}

#shot-list-heading {
    color: #77c0f0;
    margin-left: -35px;
}

#no-shots {
    color: #968787;
    text-align: center;
}

.shot-date {
    margin: 0px;
    position: relative;
    float: left;
    top: -14px;
    color: #77c0f0;
    margin-left: -34px;
    font-size: 14px;
}

.shot-count {
    margin: 0px;
    position: relative;
    float: left;
    top: -13px;
    color: #77c0f0;
    margin-left: 0px;
    font-size: 13px;
}

.shot-percentage {
    margin-right: -38px;
    position: relative;
    float: right;
    top: -14px;
    color: #77c0f0;
    margin-left: 0px;
    font-size: 14px;
}

.shot-list-item {
    list-style-type: none;
    margin-bottom: 7px;
    background-color: #1f3d60;
    border-radius: 5px;
    height: 12px;
}

.percentage-bar {
    padding: 0px;
    border-radius: 5px;
    height: 12px;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background: linear-gradient(to right, #074469, #007acc);
}

.footer {
    width: 100%;
    background-color: #151a1f;
    margin-top: 100px;
}

.diamond {
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: #1a3856;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.d-1 { left: 22%; top: -14px; }
.d-2 { left: 50%; top: -14px; }
.d-3 { left: 76%; top: -14px; }

.d-4 { left: -4.3%; top: 11.4%; }
.d-5 { left: -4.3%; top: 23.4%; }
.d-6 { left: -4.3%; top: 35.4% }
.d-7 { left: -4.3%; top: 63.4%; }
.d-8 { left: -4.3%; top: 75.4%; }
.d-9 { left: -4.3%; top: 87.4%; }

.d-10 { left: 102%; top: 11.4%; }
.d-11 { left: 102%; top: 23.4%; }
.d-12 { left: 102%; top: 35.4% }
.d-13 { left: 102%; top: 63.4%; }
.d-14 { left: 102%; top: 75.4%; }
.d-15 { left: 102%; top: 87.4%; }

.d-16 { left: 22%; top: 101%; }
.d-17 { left: 50%; top: 101%; }
.d-18 { left: 76%; top: 101%; }
